/* variables */
$white: #ffffff;

/* Media Queries */
$desktop: " (max-width: 1200px)";
$medium: " (max-width: 992px)";
$tablet: " (max-width: 768px)";
$tel: " (max-width: 576px)";

/* mixins */
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin posAbsolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Fonts */
@font-face {
  font-family: 'The Perfect Christmas';
  src: url('../fonts/perfect_christmas.ttf');
}

/* Style */
* {
  padding: 0;
  margin: 0;
}

.body-main {
  @include posAbsolute;
  width: 100%;
  height: 100vh;
  background: url("../img/bg-img-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.body-main:before {
  content: '';
  display: block;
  width: 100%;
  height: 100vh;
  background: url("../img/bg-mask-04.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: screen;
}

.christmas-box-title {
  @include posAbsolute;
}

h1  {
  font-size: 280px;
  @include posAbsolute;
  @include center;
  letter-spacing: 7px;
  font-family: "The Perfect Christmas", sans-serif;
  color: $white;
  font-weight: lighter;
  span {
    animation: bounceText 0.7s linear infinite alternate, lightText 0.7s linear infinite alternate;
  }
}

.audio-control {
  position: fixed;
  bottom: 0;
  left: 0;
}

/* Animation */
h1 {
  span:nth-child(1) {
    animation-delay: 2.1s;
  }
  span:nth-child(2) {
    animation-delay: 1.2s;
  }
  span:nth-child(3) {
    animation-delay: 3.3s;
  }
  span:nth-child(4) {
    animation-delay: 1.4s;
  }
  span:nth-child(5) {
    animation-delay: 0.9s;
  }
  span:nth-child(6) {
    animation-delay: 1.6s;
  }
  span:nth-child(7) {
    animation-delay: 2.3s;
  }
  span:nth-child(8) {
    animation-delay: 1.1s;
  }
  span:nth-child(11) {
    animation-delay: 3.1s;
  }
  span:nth-child(12) {
    animation-delay: 2.4s;
  }
  span:nth-child(13) {
    animation-delay: 0.7s;
  }
  span:nth-child(14) {
    animation-delay: 3.4s;
  }
  span:nth-child(15) {
    animation-delay: 1.5s;
  }
  span:nth-child(16) {
    animation-delay: 2.1s;
  }
}

/* Move top - bottom */
@keyframes bounceText {
  100% {
    transform: translateY(-15px);
  }
}

/* Light */
@keyframes lightText {
  100% {
    text-shadow: 0 0 5px #e5ce0d, 0 0 15px #c7b00d, 0 0 20px rgba(242, 215, 13, 0.68);
  }
}

/* Media */
/* Desktop */
@media #{$desktop} {
  h1 {
    font-size: 244px;
  }
}

/* Medium */
@media #{$medium} {
  h1 {
    font-size: 168px;
  }
}

/* Tablet */
@media #{$tablet} {
  h1 {
    font-size: 122px;
  }
}

/* Telephone */
@media #{$tel} {
  h1 {
    font-size: 68px;
  }
}
